body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: white;
  padding: 4%;
  font-size: large;
}

.Todo-Item:hover .trash-icon {
  display: block;
}
